/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26/08/2016, 00:54:12
    Author     : adriano
*/

@mixin breakpoint($break) {
				$min: map-get(map-get($breakpoints-width, $break),'min');
				$max: map-get(map-get($breakpoints-width, $break),'max');
				
				@if $min != none and $max != none {
								@media (min-width: $min) and (max-width: $max) {
												@content;
								}
				} @else if $min != none {
								@media (min-width: $min) {
												@content;
								}
				} @else if $max != none {
								@media (max-width: $max) {
												@content;
								}
				}
}