.icon {
	width: 20px;
	height: 20px;
	line-height: 20px;
	vertical-align: middle;
	display: inline-block;

	img {
		width: inherit;
		height: inherit;
	}

	&__toggle-menu {
		width: 32px;
		height: 32px;
	}
}

.icon + span {
	vertical-align: middle;
}
